body {
	font-family: "Arial", sans-serif;
	background-color: #f5efef;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 8%);
}

.container {
	background-color: #f4eeee;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	text-align: center;
}

label {
	display: block;
	margin-bottom: 10px;
}

input {
	flex-basis: 90%;
    background-color: #0b0b0b;
    outline: none;
    border: none;
    color: #fff;
    box-shadow: 0 0 .5rem rgba(255, .255, .255, .1);
    border-radius:  .5rem 0 0 .5rem;
    padding: 1rem;
    font-size: 1rem;

}

button {
	flex-basis: 30%;
	border: none;
	outline: none;
	padding:1rem;
	font-size: 1rem;
    box-shadow: 0 0 .5rem rgba(255, .255, .255, .1);
    border-radius: 0 .6rem .5rem 0;
    background-color: #0b0b0b;
	color: #fff;
    cursor: pointer;
    transition: 200ms ease-in-out background-color;
	cursor: pointer;
}

button:active { transform: scale(.93); }

button:hover {
	background-color: #1cd907;
}

/* user css */

.userContainer {
	max-width: 800px;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	color: #1f1c1c;
}

#userDetails {
	text-align: left;
}

img {
	max-width: 100%;
	height: auto;
	border-radius: 50%;
	margin-bottom: 15px;
}

p {
	margin: 20px 0;
}

a {
	color: #037cfd;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
